<div class="page-header">
	<h1>Log In</h1>
</div>

<% if notice %>
<div class="alert alert-info">
  <b style="color:green"><%= notice %></b>
</div>
  
<% end %>

<%= form_tag sessions_path, {:class => "form-horizontal"} do %>
	<div class="control-group">
	   <%= label_tag :email, nil, {:class => "control-label", :for => "inputEmail"} %>
	   <div class="controls">
	   	<%= text_field_tag :email, params[:email], {:class => "input-large", :placeholder => "Email", :autocomplete => "off"} %>
	   </div>
	</div>
	<div class="control-group">
	 	<%= label_tag :password, nil, {:class => "control-label", :for => "inputPassword"} %>
		<div class="controls">
			<%= password_field_tag :password, nil, {:class => "input-large", :placeholder => "Password", :autocomplete => "off"} %>
	  	</div>
	</div>
	<div class="control-group">
		<div class="controls">
	   		<%= submit_tag "Log In", {:class => "btn btn-primary"} %>
	&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;	
	 <%= link_to "Signup", new_user_path, {:class=>"btn"}  %>
		
	</div>
<% end %>

