<div class="page-header">
  <h2>Entries</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <h3 class="muted">Total-Entries&nbsp;
<span class="badge badge-warning"><%= @entries.size %></span></h3>
  <%= link_to 'New Entry',new_category_entry_path, :class => "btn btn-primary pull-right button-up"  %>
</div>




<% @entries.each do |post| %>
    <div class="well well-large">
    <h4><%= link_to post.subject,category_entry_path(@category,post) %></h4>

   <h5>Total-Comments &nbsp;
   <span class="badge badge-warning"><%= post.comments.size %></span>
  </h5>

  <%= post.body %>
  </br>
	Posted <%= time_ago_in_words post.created_at %>...ago 
  </div>
<% end %>
 

		



  


