

<div class="page-header">
  <h1><%= @entry.subject %></h1>
</div>
<div class="hero-unit">
<%= @entry.body %>
</div>

<h3 class="muted">Total Comments &nbsp; <span class="badge badge-warning"><%= @entry.comments.size %></span></h3>
<hr>

<% @entry.comments.each do|comment| %>
<p>commented by: <b><%= comment_user(comment.user_id) %></b></p>
<p><%= comment.comment %></p>
<p><%= time_ago_in_words comment.created_at %> ago...</p>
<% if current_user.organization_profile.is_admin? %>
<p><%= link_to "delete comment", [@entry,comment], :method => :delete, :confirm => "are you sure?" %></p> 
<% end %>
<hr>
<% end %>

<!-- Form for comments-->

<%= form_for [@entry, @entry.comments.build] do |com| %>
<b>ADD COMMENT:</b><p><%= com.text_area :comment, :size => '30*10' %></p>
<p><%= com.submit "post comment", {:class => "btn btn-primary btn-indent pull-center"} %></p>
<% end %>
<p>
<%= link_to 'Back',entries_path %>
||
<%= link_to 'edit',edit_entry_path(@entry)%>
||
<%= link_to 'delete',@entry,:method => :delete, :confirm => "are you sure?" %></p>

