<p>
  <b>Id:</b>
  <%= @category.id  %>
</p>

<p>
  <b>Cat:</b>
  <%= @category.cat %>
</p>
<h2>Details</h2>
<p>
  <b> Entry details are as folows</b>
  <% @category.entries.each do |entry| %>
   <%= entry.body%>
  <%end%>
</p>



<h2> Entries </h2>
<%= render :partial=>'entries/entry',:collection=>@category.entries %> 






<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>




