
<div class="page-header">
	<h1>Categories</h1>
    <b style="color:green"><%= notice %></b>
    <%= link_to 'Add Category', new_category_path,  :class => "btn btn-primary pull-right button-up" %>
</div>

</br></br>
<h3 class="muted">Total Categories &nbsp; <span class="badge badge-warning"><%= @categories.size %></span></h3>




<table class="table table-striped">
<% @categories.each_with_index do |category,i| %>
<tr>
<td>&nbsp;</td>
<td><%= i+1 %> </td>
<td>
<b><%= link_to category.name ,category_entries_path(category) %></b>
</td>
<td><b><%= link_to 'Add Entry', new_category_entry_path(category) %><b></td>
<td>
Total-Entries&nbsp;
<span class="badge badge-warning"><%= category.entries.size %></span>
</td>
</tr>

<% end %>
</table>


