<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
   
    <ul class="nav">
      <li class="active"><%= link_to 'Home', categories_path %></li>
       <li><%= link_to 'Categories', categories_path %></li>
       <li><%= link_to 'Dashboard' %></li>
       <li><%= link_to 'logout', logout_path %></li>
    </ul>
  </div>
</div>
<%= yield %>
</body>
</html>
